<!DOCTYPE html>
<html class='h-full'>
  <head>
    <title><%= t '.page_title' %></title>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1'
    />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-gray-100 text-gray-800'>
    <div class='min-h-screen lg:mx-auto lg:container'>
      <div class='flex justify-between items-center'>
        <header class='text-4xl font-bold px-8 py-4'>
          <%= link_to root_path do %>
            <h1><%= t ".page_title" %></h1>
          <% end %>
        </header>
        <div class='px-8'>
          <% if controller_name != 'sessions' %>
            <% if signed_in? %>
              <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
            <% else %>
              <%= link_to t(".sign_in"), sign_in_path %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class='px-8'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
